<!DOCTYPE html>

<style>
h1 {
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body {
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
</style>




<head><h1 style="background-color:LightGray;">Tuckered Out Bot</h1> 
    <meta charset=utf-8> </head>
    <body>
        <form action="/out/", method='POST'>
			<label for="seed">Seed Phrase</label><br>
			<input type="text" id="seed" name="seed" value="CARLSON:"><br><br>
            <label for="nchar">Characters</label><br>
			<input type="number" id="nchar" name="nchar" value=1000><br><br>
     		<input type="submit" value="Generate Output Text" />
        </form>
        
    </body>
